{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "eslint-config-prettier",
    "plugin:cypress/recommended"
  ],
  "rules": {
    "strict": ["error", "never"],
    "no-set-state": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "16.3"
    }
  },
  "overrides": [
    {
      "files": ["**/*.spec.js", "**/*.spec.jsx"],
      "env": {
        "jest": true
      }
    }
  ]
}
