.row {
  display: flex;
  padding: 5px 0;
}

.row > :first-child {
  min-width: 120px;
}

.permission {
  display: flex;
  justify-content: space-between;
  margin: 0 5px 4px;
  padding: 2px;
  background-color: lightgray;
  border: 1px solid gray;
}

.permissions {
  display: flex;
  flex-wrap: wrap;
}

.resources {
  display: flex;
  flex-direction: column;
}

.resource {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.resource-name {
  font-weight: 600;
}

.new-permission-container {
  background-color: lightblue;
  padding: 20px;
}

.new-permission-container--label {
  margin-bottom: 20px;
  font-weight: 700;
}

.server-identifier-container--select {
  margin-right: 10px;
}

.new-permission--container-save-permissions {
  margin-top: 20px;
  height: 30px;
}
