.list-columns {
  display: flex;
  font-weight: 700;
  font-size: large;
  font-family: sans-serif;
  border-bottom: 3px solid grey;
  border-top: 3px solid gray;
}

.list-columns > span {
  padding: 10px 4px 0;
  flex: 1;
  border-right: 3px solid gray;
}

.list-columns > span:first-child {
  border-left: 3px solid gray;
}

.list-row {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 50% 50%;
  cursor: pointer;
}

.list-item {
  padding: 10px 4px 0;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.user-creation {
  padding: 20px;
}

.user-creation input {
  width: 300px;
}

.user-creation select {
  margin: 0 20px;
}

a {
  text-decoration: none;
}
