.app {
    margin-left: 18em;
}
.input-boxes {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.iot_device {
    padding: 50px;
    border: 1px solid black;
    width: 500px;
}

.edge_device {
    padding: 50px;
    border: 1px solid black;
    width: 500px;
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.submit-btn {
    margin: 20px 0;
    width: 75px;
}

.title {
    margin: 20px 0;
}

.device-list-columns {
    display: flex;     
    font-weight: 700;
    font-size: large;
    font-family: sans-serif;
    border-bottom: 3px solid grey;
}

.device-list-columns > span {
    padding: 10px 4px 0;
    flex: 1;
}

.device-list-columns >span:first-child {
    border-right: 3px solid gray;
}

.device-list-item {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50% 50%;
    cursor: pointer;
}

.device-list-item > span {
    padding: 10px 4px 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.delete {
    cursor: pointer;
    color: red;
}

.text-box {
    height: 20px;
    width: 250px;
}

.clear-parent {
    cursor: pointer;
    color: darkgoldenrod;
}